.service-ct{
    min-height: 80vh;
    height: auto;
    width: 100%;
    /* background-color: #fff; */
    background: transparent;
    position: relative;
    top: 0;
}

.service-heading-one  h2{
    color: #131058;
    font-size: 60px;
    font-weight: 700;
}

.service-sub-heading{
    color: #131058;
    font-size: 40px;
    font-weight: 700;
}

.sub-text-about{
    color: gray;
    font-size: 17px;
}


.service-heading-one-home  h2{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.service-sub-heading-home{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.sub-text-home{
    color: #fff;
    font-size: 17px;
}

  .image-icon-service{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -120px;
  margin-left: 75px;
}

@media screen and (max-width: 480px) {
    .service-heading-one  h2{
        color: #131058;
        font-size: 50px;
        font-weight: 700;
    }
    .service-sub-heading{
        color: #131058;
        font-size: 25px;
        font-weight: 700;
    }
}